canvas { 
    justify-content: center; 
    display: block;
}

mat-card {
    margin: 15px;
    padding: 20px;
}

mat-slider {
    width: 100px;
}

app-root {
    color: white;
}
mat-slide-toggle {
    margin: 0 10px;
}
